body {
  font-family: Arial, sans-serif;
  background-color: rgba(242, 242, 242, 1);
}

.T
{
	background: rgba(229, 76, 60, 1);
	border-radius: 0.2em;
	border-bottom: 0.15em solid rgba(191, 59, 43, 1);
	width: 100%;
	font-size: 0.875rem;
	
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin: 0px;
}

.postfix.button {
	background-color: rgba(229, 76, 60, 1);
	margin: 0;
}

.postfix.button:hover {
	background-color: rgba(191, 59, 43, 1);
}

.prefix.button
{
	color: #fff;
	background: rgba(229, 76, 60, 1);
	border-radius: 0.2em;
	border-bottom: 0.15em solid rgba(191, 59, 43, 1);
}

.button:hover, .prefix.button:hover
{
	background-color: rgba(191, 59, 43, 1);
}

.logo {
	display: block;
	margin: auto;
	margin-top: 1em;
	width: 217px;
	/*background-color: green;*/
}

.title {
	/*background-color: green;*/
	text-align: center;
	font-weight:bolder;
	color: rgba(77, 77, 77, 1);
}

.subtitle {
	text-align: center;
	font-weight:bolder;
	color: rgba(179, 179, 179, 1);
	margin-bottom: 4em;
}

.red {
	color: rgba(229, 76, 60, 1);
}

.box1 {
	/*width: 430px;*/
	margin: auto;
	background-color: white;
	padding: 20px;
	padding-bottom:0px;
}

.boxsocial {
	border-top:0.1em solid rgba(204, 204, 204, 1);
	border-bottom:0.1em solid rgba(204, 204, 204, 1);
	background-color: rgba(230, 230, 230, 1);
	padding: 20px;
	padding-bottom: 0px;
}

.boxblack {
	background-color: rgba(77, 77, 77, 1);
}

.boxblack2 {
	background-color: rgba(102, 102, 102, 1);
}

.form {
	margin: 0;
}

.forgot {
	float: right;
}

.stayLoggedIn {
	color: rgba(179, 179, 179, 1);
}

.arrow_box {
	max-width: 500px;
	margin: auto;
	background: #ffffff;
}

.arrow_boxborder {

	border:0.1em solid rgba(204, 204, 204, 1);

	position: relative;
}

.arrow_boxborder:after, .arrow_boxborder:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_boxborder:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_boxborder:before {
	border-color: rgba(87, 101, 110, 0);
	
	border-bottom-color: rgba(204, 204, 204, 1);
	border-width: 31px;
	margin-left: -31px;
}

.forgotLink {
	color: rgba(229, 76, 60, 1);
}

.forgotLink:hover {
	color: rgba(191, 59, 43, 1);
}

.space {
}
